main {
    max-width: 1700px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-size: 120px;
}
main > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}